body{
    color:rgb(225, 235, 236);

    background: lightblue;

    
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    width: 375px;
    height: 300px;
    border: 2px dashed black;
}